p {
    margin: 0 auto;
    font-family: Arial;
  }

  .word1 {
    font-size: 30px;
    margin-right: 9px;
  }

  .word2 {
    font-size: 20px;
    color: rgb(102, 101, 101);
  }

  .line2 {
    color: rgb(28, 147, 28);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .word4 {
    color: red;
  }

  .word3 {
    color: grey;
  }